<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="TestApp_XS_VersionControl6.TestApp_XS_VersionControl6">
	<uses-sdk />
	<application android:label="TestApp_XS_VersionControl6">
	</application>
</manifest>